<%- include('../includes/register/loginHead.ejs') %>



<!--================Login Box Area =================-->

<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">
            
            <div class="col-12">
                
                <div class="login_form_inner">
                    <form class="row login_form" method="POST" action="/forgot-password" id="register_form"  >

                        <!-- error message ( Invalid username or password ) -->
                        <!-- <div id="errorContainer" class="alert alert-danger" style="display: none;"></div> -->
                        <% if( err.length > 0 ) { %>
                            <div class="col-md-12 form-group" >
                              <label id="errDiv"  
                              style="border: 1px solid rgb(196, 0, 0); padding: 15px 0; width: 100%; background-color: rgb(255, 172, 172); color: rgb(196, 0, 0);" 
                              for=""><%= err %></label>
                            </div>
                        <% } %>

                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Enter yuor email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'">
                        </div>
                        <div class="col-md-12 form-group">
                            <button
                                type="submit"
                                value="submit"
                                class="button button-register w-100"
                            >
                                Submit
                            </button>
                            
                        </div>
                    </form>
                    <P>Back to login <a href="/login">Login</a></P>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

<%- include('../includes/register/loginEnd.ejs') %>