
<%- include('../includes/admin/adminHead.ejs') %>
<%- include('../includes/admin/adminNavbar.ejs') %>


<div class="main-panel">
    <div class="content-wrapper">

        <!-- ======= Form ======== -->

        <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Edit category</h4>
                <form class="forms-sample" action="/admin/edit-category" method="POST">
                  <div class="form-group">
                    <input type="text" name="category" class="form-control" value="<%= value %>" id="exampleInputName1" placeholder="Add category">
                  </div>
                  <button type="submit" class="btn btn-primary mr-2">Add</button>    
                </form>
              </div>
            </div>
          </div>



    </div>
</div>

</div>
</div>


<%- include('../includes/admin/adminFooter.ejs') %>