
<%- include('../includes/admin/adminHead.ejs') %>
<%- include('../includes/admin/adminNavbar.ejs') %>

<div class="main-panel">
    <div class="content-wrapper">

        <div><a class="badge badge-outline-primary" href="/admin/add-products">Add products</a></div>


<div class="row mt-5">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Products</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th> Name </th>
                  <th> Description </th>
                  <th> Brand Name </th>
                  <th> Price </th>
                  <th> Quantity </th>
                  <th> Category </th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  
                  <td>
                    <span class="pl-2"> Name </span>
                  </td>
                  <td> Description </td>
                  <td> Brand Name </td>
                  <td> Price </td>
                  <td> Quantity </td>
                  <td> else </td>
                  <td>
                        <div class="row">
                            <div><a class="badge badge-outline-success" href="">Active</a></div>
                            <div><a class="badge badge-outline-danger" href="">Blocked</a></div>
                        </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>
</div>



  <%- include('../includes/admin/adminFooter.ejs') %>