<!-- Js Plugins -->
<script src="/user/js/jquery-3.3.1.min.js"></script>
<script src="/user/js/bootstrap.min.js"></script>
<script src="/user/js/jquery.nice-select.min.js"></script>
<script src="/user/js/jquery.nicescroll.min.js"></script>
<script src="/user/js/jquery.magnific-popup.min.js"></script>
<script src="/user/js/jquery.countdown.min.js"></script>
<script src="/user/js/jquery.slicknav.js"></script>
<script src="/user/js/mixitup.min.js"></script>
<script src="/user/js/owl.carousel.min.js"></script>
<script src="/user/js/main.js"></script>

</body>
</html>