<%- include('../includes/userHead.ejs') %>
<%- include('../includes/userNavbar.ejs') %>

<section style="padding-top: 200px;" class="mt-5">
<div mt-5>

    <h1>Order confirmed</h1>
    <a href="/shop">Back to home</a>
</div>
</section>


<%- include('../includes/userFooter.ejs') %>
<%- include('../includes/end.ejs') %>