
<script src="/register/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="/register/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/register/vendors/skrollr.min.js"></script>
<script src="/register/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/register/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="/register/vendors/jquery.ajaxchimp.min.js"></script>
<script src="/register/vendors/mail-script.js"></script>
<script src="/register/js/main.js"></script>
</body>
</html>