<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login-Male-fashion</title>
	<link rel="icon" href="/user/img/favicon.png" type="image/png">
  <link rel="stylesheet" href="/register/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/register/vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/register/vendors/themify-icons/themify-icons.css">
	<link rel="stylesheet" href="/register/vendors/linericon/style.css">
  <link rel="stylesheet" href="/register/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/register/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/register/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="/register/vendors/nouislider/nouislider.min.css">

  <link rel="stylesheet" href="/register/css/style.css">
</head>
<body>

    <!--================Login Navbar Area =================-->
    
